@inherits LayoutComponentBase

<PageTitle>Authentication</PageTitle>

<div class="auth-page-wrapper pt-5">
    <AuthPageBg/>
    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <AuthImage/>
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">
                        <div class="card-body p-4">
                            @Body
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->
    <AuthFooter/>
</div>
