@inherits LayoutComponentBase

<PageTitle>HavillahWebUI_Server</PageTitle>

<div id="layout-wrapper">
    <Header></Header>
    <AppMenu></AppMenu>
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>
    @Body
</div>
