@inherits LayoutComponentBase

<PageTitle>HavillahWebUI_Server</PageTitle>

    <!-- Site wrapper -->
    <div class="wrapper">
      <!-- Navbar -->
       <NavBar></NavBar>
      <!-- /.navbar -->
    
      <!-- Main Sidebar Container -->
       <MainSideBarContainer></MainSideBarContainer>
      <!-- /. Main Sidebar Container -->
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        @Body
      </div>
      <!-- /.content-wrapper -->
    
      <Footer></Footer>
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->